
My first notebook in Python

In [1]:
my_fav_movie = "Goldy" #This is a string variable

In [2]:
move_rating = 8 #This is a integer variable

In [3]:
movie_director = "James Cameron"

In [4]:
move_rating

8

In [5]:
mood = "happy"

In [6]:
print("The mood of a person is:", mood) #printing variable

The mood of a person is: happy

In [7]:
type(mood)

str

In [8]:
mood = 3.56 #New variable for type float is creted
type(mood)

float

In [9]:
a = 3
b=29
c= a+b #Integers operations
c

32

In [10]:
a*b

87

In [11]:
a//b

0

In [12]:
a%b

3

In [13]:
a**b

68630377364883

In [15]:
is_rainig = True
are_you_poor = False
print(is_rainig)

True

In [17]:
if is_rainig:
    print("Its raining today") #Indentation is must in conditions

Its raining today

In [22]:
age = input("what is your age?") #Take inputs from user and simple condition check
if int(age)>= 21:
    print("You are welcome to attend here")
    print("It will start on 8.00 pm")
else:
    print("Sorry you have to be 21 to attend")

what is your age?8
Sorry you have to be 21 to attend

In [19]:
print(age)

78

In [24]:
my_boolean_var = 8>98 #Automatically creates float variables
my_boolean_var

False

In [25]:
state = "California"
state[3:5] #starts from index 0, shows 3rd and 4th ...not print 5

'if'

In [28]:
state[-3:] #reverse indexing

'nia'

In [29]:
state[:5] #All till 5th element

'Calif'

# Sequences

In [30]:
my_tuple = (3,18,5,78,-6,-5,89)

In [31]:
my_tuple[2]

5

In [32]:
my_tuple[2] = 45 #tuple is immutable, can not add anymore value inside directly

TypeError: 'tuple' object does not support item assignment

In [34]:
my_tuple + (9,2) #Can add another tuple its like append

(3, 18, 5, 78, -6, -5, 89, 9, 2)

In [37]:
for element in my_tuple:
    print(element+90) #in print since its not stored operation can be performed

93
108
95
168
84
85
179

In [38]:
mixed_tuple = ("vin", 3, 8.9)

In [39]:
type(mixed_tuple)

tuple

In [43]:
for item in mixed_tuple:
    print(item + (90)) #since current tuple has string value it wont allow this oeration

TypeError: can only concatenate str (not "int") to str

In [91]:
my_list = list() #Way to create list 1
type(my_list)

list

In [46]:
list2 = [] #Way to create list 2
type(list2)

list

In [93]:
State_list = ["Arizona","California","Texas"]

In [94]:
State_list[-1] #print last item in list

'Texas'

In [95]:
State_list[-2:] #reverese index

['California', 'Texas']

In [96]:
State_list[0] = "new" #Add at perticular position
State_list

['new', 'California', 'Texas']

In [97]:
for state in State_list:
    print("Names in list are:",state) #Print every item in list

Names in list are: new
Names in list are: California
Names in list are: Texas

In [98]:
weekday = "tuesday"
meal = "chicken"
side = "rice"
print("the day today is :",weekday)

the day today is : tuesday

In [99]:
"Because the day is <Tuesday>, we will have <chicken> for dinner and not <rice>"

'Because the day is <Tuesday>, we will have <chicken> for dinner and not <rice>'

What is the best way to replace "<--->" in this? the best way... Using "f"

In [100]:
print(f"Because the day is{weekday}, we will have {meal} for dinner and not {side}")

Because the day istuesday, we will have chicken for dinner and not rice

In [101]:
print(State_list)

['new', 'California', 'Texas']

In [103]:
State_list.append("Nevada")
print(State_list)

['new', 'California', 'Texas', 'cali', 'Nevada']

In [104]:
State_list += "test"

In [105]:
a=6
a

6

In [107]:
a +=7 #Easy wat to do show a = a+7
a

20

# Dictionaries

In [68]:
#Not by ordered - they are not indexed like lists, tupules etc.
new_dictionary ={}

In [69]:
type(new_dictionary)

dict

In [70]:
new_dictionary["Rohan"]= "Red"
new_dictionary["Nancy"]= "Green"
new_dictionary["James"]= "Blue"
new_dictionary

{'Rohan': 'Red', 'Nancy': 'Green', 'James': 'Blue'}

In [71]:
new_dictionary["Nancy"]

'Green'

In [72]:
new_dictionary["Po-Chen"] =1000
new_dictionary["Vinda"] = 5000
new_dictionary

{'Rohan': 'Red',
 'Nancy': 'Green',
 'James': 'Blue',
 'Po-Chen': 1000,
 'Vinda': 5000}

In [73]:
for person in new_dictionary:
    print(person) #prints only indexes

Rohan
Nancy
James
Po-Chen
Vinda

In [108]:
for person in new_dictionary:
    print(new_dictionary[person]) #prints only values

Red
Green
Blue
1000
5000

In [76]:
for person in new_dictionary:
    print(f"person name {person} --> {new_dictionary[person]}")

person name Rohan --> Red
person name Nancy --> Green
person name James --> Blue
person name Po-Chen --> 1000
person name Vinda --> 5000

In [109]:
my_string = "using double braces"
my_string

'using double braces'

In [110]:
str2 = 'using single braces'
str2

'using single braces'

In [112]:
str3 = 'To have "something" special' #Both single quotes and double quotes allowed to use for special strings
str3

'To have "something" special'

In [113]:
str4 = "Let's try this, now"
str4

"Let's try this, now"

In [115]:
long_string = """
this is a example
of doing somethings
in any of the way
and its gre8
"""
print(long_string)
long_string #prints a full str variable

this is a example
of doing somethings
in any of the way
and its gre8

'\nthis is a example\nof doing somethings\nin any of the way\nand its gre8\n'

In [85]:
my_populated_dict = {100:"Exellent",90:"Pretty good",50:"You failed","Peter":[3,4,5,6]}
my_populated_dict

{100: 'Exellent', 90: 'Pretty good', 50: 'You failed', 'Peter': [3, 4, 5, 6]}

In [86]:
type(my_populated_dict["Peter"])

list

In [87]:
a=3
b=17
if a==b:
    print("they are equal")
else:
    print("They are not")

They are not

In [88]:
100 in my_populated_dict #is element inside the dict

True