<a href="https://colab.research.google.com/github/VindaShinde/DonorBrain/blob/master/First_Python_notebook_Basic5_Pandas_Group_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
from google.colab import files
uploaded = files.upload()

Saving report.csv to report.csv

In [9]:
data = pd.read_csv('report.csv')

In [10]:
print(data.describe)
data.head()

<bound method NDFrame.describe of       report_year agency_code  ... assaults_percapita  robberies_percapita
0            1975     NM00101  ...             472.68               286.13
1            1975     TX22001  ...             117.36               100.46
2            1975     GAAPD00  ...             717.10               792.32
3            1975     CO00101  ...             333.46               146.58
4            1975     TX22701  ...             154.13               176.10
...           ...         ...  ...                ...                  ...
2824         2015     OK07205  ...             586.27               212.69
2825         2015     VA12800  ...              51.68                59.63
2826         2015     DCMPD00  ...             598.61               506.38
2827         2015     KS08703  ...             700.32               188.03
2828         2015         NaN  ...                NaN                  NaN

[2829 rows x 15 columns]>

   report_year agency_code  ... assaults_percapita  robberies_percapita
0         1975     NM00101  ...             472.68               286.13
1         1975     TX22001  ...             117.36               100.46
2         1975     GAAPD00  ...             717.10               792.32
3         1975     CO00101  ...             333.46               146.58
4         1975     TX22701  ...             154.13               176.10

[5 rows x 15 columns]

In [17]:
grpByJurisdic = data.groupby('agency_jurisdiction')
print(grpByJurisdic.groups)
len(grpByJurisdic.groups)

{0.0: [631, 921, 930, 931, 943, 959, 987, 1423, 1482, 1529, 1598, 1662, 1695, 1717, 1764, 1786, 1833, 1855], 1.0: [1071], 3.0: [879, 1962], 4.0: [1648, 2712], 5.0: [1372, 1441, 2743], 6.0: [1150, 2110, 2643], 7.0: [475], 8.0: [544, 682, 1218, 1674], 9.0: [61, 436, 1626], 10.0: [367, 422, 958, 1029, 1403, 1544, 1579], 11.0: [33, 432, 591, 613, 751, 820, 1165, 2627, 2696], 12.0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100, 101, 102, 103, 104, ...]}

12

In [20]:
grpByMonths = data.groupby('months_reported')
monthsReports = grpByMonths.size()
monthsReports.sort_values()

months_reported
1.0        1
7.0        1
3.0        2
4.0        2
5.0        3
6.0        3
9.0        3
8.0        4
10.0       7
11.0       9
0.0       18
12.0    2639
dtype: int64

In [27]:
crimesGroups = data.groupby(['agency_jurisdiction','months_reported'])
crimes = crimesGroups.size()
crimes.sort_index()

agency_jurisdiction  months_reported
Albuquerque, NM      12.0               40
Arlington, TX        12.0               40
Atlanta, GA          12.0               40
Aurora, CO           12.0               40
Austin, TX           12.0               40
                                        ..
Tucson, AZ           12.0               39
Tulsa, OK            12.0               40
Virginia Beach, VA   12.0               40
Washington, DC       12.0               40
Wichita, KS          12.0               40
Length: 108, dtype: int64

In [28]:
from google.colab import files
uploaded = files.upload()

Saving movies.csv to movies.csv

In [55]:
movieData = pd.read_csv('movies.csv')
movieData.set_index('name')
#movieData.head()

                                               rating  ... runtime
name                                                   ...
The Shining                                         R  ...   146.0
The Blue Lagoon                                     R  ...   104.0
Star Wars: Episode V - The Empire Strikes Back     PG  ...   124.0
Airplane!                                          PG  ...    88.0
Caddyshack                                          R  ...    98.0
...                                               ...  ...     ...
More to Life                                      NaN  ...    90.0
Dream Round                                       NaN  ...    90.0
Saving Mbango                                     NaN  ...     NaN
It's Just Us                                      NaN  ...   120.0
Tee em el                                         NaN  ...   102.0

[7668 rows x 14 columns]

In [35]:
movieData.tail()

               name rating   genre  ...  gross                    company  runtime
7663   More to Life    NaN   Drama  ...    NaN                        NaN     90.0
7664    Dream Round    NaN  Comedy  ...    NaN  Cactus Blue Entertainment     90.0
7665  Saving Mbango    NaN   Drama  ...    NaN           Embi Productions      NaN
7666   It's Just Us    NaN   Drama  ...    NaN                        NaN    120.0
7667      Tee em el    NaN  Horror  ...    NaN                PK 65 Films    102.0

[5 rows x 15 columns]

In [56]:
movieGroupByRating = movieData.groupby(['rating','year'] )
movieGroupByRating.size()

rating    year
Approved  1981    1
G         1980    3
          1981    2
          1982    5
          1983    1
                 ..
Unrated   2018    3
          2019    1
X         1986    1
          1987    1
          1989    1
Length: 255, dtype: int64

In [47]:
for year, rate in movieGroupByRating:
    if year == 1980:
      print (year, rating)

In [57]:
movieRatingByGenre = movieData.groupby(level=0)
for year, genre in movieRatingByGenre:
    if year == 1980:
      print (year, genre)

1980                                       name rating  ...          company  runtime
1980  Big Girls Don't Cry... They Get Even     PG  ...  New Line Cinema     96.0

[1 rows x 15 columns]

In [66]:
movieGroupByRating = movieData.reset_index()
movieGroupByRating = movieData.set_index(['rating','year'] )
movieGroupByRating

                                                       name  ... runtime
rating year                                                  ...
R      1980                                     The Shining  ...   146.0
       1980                                 The Blue Lagoon  ...   104.0
PG     1980  Star Wars: Episode V - The Empire Strikes Back  ...   124.0
       1980                                       Airplane!  ...    88.0
R      1980                                      Caddyshack  ...    98.0
...                                                     ...  ...     ...
NaN    2020                                    More to Life  ...    90.0
       2020                                     Dream Round  ...    90.0
       2020                                   Saving Mbango  ...     NaN
       2020                                    It's Just Us  ...   120.0
       2020                                       Tee em el  ...   102.0

[7668 rows x 13 columns]

In [74]:
grouped2 = movieGroupByRating.groupby(level='year')
toSort = grouped2.sum(); toSort
toSort.sort_values('gross') 
toSort.ix['']

       score       votes        budget         gross  runtime
year
1980   580.0   4101541.0  5.688500e+08  2.483667e+09   9881.0
1981   712.2   3358556.0  7.094500e+08  2.520065e+09  11973.0
1983   867.3   4071375.0  8.939756e+08  2.750005e+09  14727.0
2020   131.4   1446348.0  8.629658e+08  2.848299e+09   2625.0
1982   792.8   4181471.0  8.366700e+08  3.187581e+09  13347.0
1984  1039.4   5966187.0  1.116326e+09  3.533092e+09  17547.0
1986  1230.5   5678771.0  1.264787e+09  3.647512e+09  20361.0
1985  1261.9   5571207.0  1.220510e+09  3.691509e+09  20447.0
1987  1243.4   6419279.0  1.382543e+09  4.033434e+09  20542.0
1988  1256.0   6763845.0  1.730540e+09  4.840386e+09  20717.0
1989  1235.1   6801886.0  1.784763e+09  6.087251e+09  20542.0
1991  1277.9   7469956.0  2.268248e+09  6.254771e+09  21263.0
1990  1266.2   8334462.0  2.072503e+09  6.804236e+09  20985.0
1992  1282.5   8000378.0  2.648378e+09  7.334168e+09  21338.0
1993  1276.4  10088764.0  2.685350e+09  8.053959e+09  21505.0
1994  1262.6  15543800.0  3.250455e+09  9.062926e+09  21114.0
1995  1291.6  14587959.0  3.544834e+09  9.448305e+09  21345.0
1996  1248.0  10432833.0  4.144580e+09  9.819528e+09  21448.0
1998  1291.7  15911840.0  5.462266e+09  1.117602e+10  21473.0
1997  1271.1  15586700.0  5.256145e+09  1.311228e+10  21452.0
2000  1271.6  17972900.0  6.340250e+09  1.345413e+10  21570.0
1999  1299.9  20273900.0  6.742940e+09  1.350964e+10  21878.0
2001  1290.6  21503700.0  6.446300e+09  1.561763e+10  21614.0
2002  1271.8  21112600.0  6.335629e+09  1.700344e+10  21185.0
2003  1266.5  21998700.0  6.598430e+09  1.766193e+10  21785.0
2005  1272.6  22780700.0  7.189494e+09  1.786661e+10  21656.0
2006  1292.6  25211800.0  7.156700e+09  1.865407e+10  21732.0
2004  1303.0  25840522.0  6.997327e+09  1.872175e+10  21860.0
2007  1294.8  26163800.0  7.065510e+09  2.038367e+10  21573.0
2008  1277.7  28425800.0  7.486730e+09  2.170216e+10  21333.0
2010  1291.6  28741700.0  7.652750e+09  2.310660e+10  21309.0
2009  1288.9  26719100.0  7.522500e+09  2.333868e+10  21423.0
2011  1296.5  30307000.0  7.868730e+09  2.483769e+10  21470.0
2012  1294.6  30374900.0  7.777295e+09  2.547619e+10  21427.0
2013  1323.8  33093300.0  8.101670e+09  2.599585e+10  22122.0
2014  1318.0  31993300.0  7.454300e+09  2.649148e+10  22032.0
2015  1303.7  23879185.0  7.329126e+09  2.674601e+10  22107.0
2018  1297.2  17472200.0  7.012980e+09  2.808529e+10  22300.0
2017  1312.3  21123800.0  7.409700e+09  2.848525e+10  22304.0
2016  1324.6  24699800.0  8.786500e+09  2.893884e+10  22230.0
2019  1272.2  15345824.0  6.658550e+09  3.033965e+10  22511.0

In [79]:
#Doing it directly
grouped2 = movieData.groupby('year')
toSort = grouped2.sum(); #toSort
#toSort.sort_values('gross')

In [ ]:
toSort.i